body {
    font-family: "Poppins", sans-serif;
  }
  .container {
    margin: 30px auto;
    width: 70%;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 20px;
  }
  .wrapper {
    text-align: center;
  }
  button {
    margin-top: 10px;
    background-color: #02b04f;
    color: aliceblue;
    border-radius: 3px;
    border: none;
    padding: 12px 15px;
    cursor: pointer;
  }

  #search-city {
    padding: 10px 15px;
  }

  h1 {
    color: rgb(22, 24, 49);
    text-align: center;
    padding: 10px;
    font-family: "Poppins", sans-serif;
  }
